.container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  margin: 2rem auto;
}
.container::-webkit-scrollbar {
  display: none;
}

.box {
  display: inline-block;
  vertical-align: top;
  margin: 0 2rem;
  border-radius: 10px;
  width: 35%;
  height: 550px;
  background: #172036;
  border-radius: 10px;
  position: relative;
}

.box img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 300px;
}
.box p {
  white-space: pre-wrap;
  width: 90%;
  margin: 0 auto;
}

.scroll_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.scroll {
  font-size: 18px;
  width: 100%;
}

.button_group {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.button {
  display: inline-flex;
  height: 30px;
  width: 100px;
  border: 2px solid #1890ff;
  margin: 20px 20px 20px 20px;
  color: #1890ff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-weight: 600;
}

.button_6 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button_6 a {
  position: relative;
  transition: all 0.45s ease-Out;
  color: #1890ff;
  text-decoration: none;
}

.spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all 0.5s ease-Out;
}

.button_6:hover .spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background: #1890ff;
  transform: rotate(80deg);
}

.button_6:hover a {
  color: #fff;
}

@media only screen and (max-width: 850px) {
  .box {
    width: 65%;
    height: 600px;
  }
}

@media only screen and (max-width: 550px) {
  .box {
    width: 75%;
    height: 450px;
  }
  .box img {
    height: 200px;
  }
  .box p {
    font-size: 14px;
  }
  .box h2 {
    font-size: 20px;
  }

  .button {
    margin: 1rem 5px;
    width: 70px;
    font-size: 7px;
    letter-spacing: 0.5px;
  }
  .scroll {
    font-size: 12px;
  }
}

@media screen and (min-width: 2560px) {
  .box {
    width: 30%;
  }
}

@media screen and (min-width: 3840px) {
  .box {
    width: 20%;
  }
}
